.h-full { height: 100%; }
.h-screen { height: 100vh; }

.h-mx-10 { max-height: 10rem; }
.h-mx-20 { max-height: 20rem; }
.h-mx-30 { max-height: 30rem; }
.h-mx-40 { max-height: 40rem; }
.h-mx-50 { max-height: 50rem; }

.h-0 { height: 0; }
.h-1 { height: 0.25rem; }
.h-2 { height: 0.5rem; }
.h-3 { height: 0.75rem; }
.h-4 { height: 1rem; }
.h-5 { height: 1.25rem; }
.h-6 { height: 1.5rem; }
.h-7 { height: 1.75rem; }
.h-8 { height: 2rem; }
.h-9 { height: 2.25rem; }
.h-10 { height: 2.5rem; }
.h-11 { height: 2.75rem; }
.h-12 { height: 3rem; }
.h-13 { height: 3.25rem; }
.h-14 { height: 3.5rem; }
.h-15 { height: 3.75rem; }