.w-full { width: 100%; }
.w-screen { width: 100vw; }

.w-mx-10 { max-width: 10rem; }
.w-mx-20 { max-width: 20rem; }
.w-mx-30 { max-width: 30rem; }
.w-mx-40 { max-width: 40rem; }
.w-mx-50 { max-width: 50rem; }

.w-0 { width: 0; }
.w-1 { width: 0.25rem; }
.w-2 { width: 0.5rem; }
.w-3 { width: 0.75rem; }
.w-4 { width: 1rem; }
.w-5 { width: 1.25rem; }
.w-6 { width: 1.5rem; }
.w-7 { width: 1.75rem; }
.w-8 { width: 2rem; }
.w-9 { width: 2.25rem; }
.w-10 { width: 2.5rem; }
.w-11 { width: 2.75rem; }
.w-12 { width: 3rem; }
.w-13 { width: 3.25rem; }
.w-14 { width: 3.5rem; }
.w-15 { width: 3.75rem; }
.w-16 { width: 4rem; }
.w-17 { width: 4.25rem; }
.w-18 { width: 4.5rem; }
.w-19 { width: 4.75rem; }
.w-20 { width: 5rem; }
.w-21 { width: 5.25rem; }
.w-22 { width: 5.5rem; }
.w-23 { width: 5.75rem; }
.w-24 { width: 6rem; }
.w-25 { width: 6.25rem; }
.w-26 { width: 6.5rem; }
.w-27 { width: 6.75rem; }
.w-28 { width: 7rem; }
.w-29 { width: 7.25rem; }
.w-30 { width: 7.5rem; }
.w-31 { width: 7.75rem; }
.w-32 { width: 8rem; }
.w-33 { width: 8.25rem; }
.w-34 { width: 8.5rem; }
.w-35 { width: 8.75rem; }
.w-36 { width: 9rem; }
.w-37 { width: 9.25rem; }
.w-38 { width: 9.5rem; }
.w-39 { width: 9.75rem; }
.w-40 { width: 10rem; }
.w-41 { width: 10.25rem; }
.w-42 { width: 10.5rem; }
.w-43 { width: 10.75rem; }
.w-44 { width: 11rem; }
.w-45 { width: 11.25rem; }
.w-46 { width: 11.5rem; }
.w-47 { width: 11.75rem; }
.w-48 { width: 12rem; }
.w-49 { width: 12.25rem; }
.w-50 { width: 12.5rem; }
